.game-square{
 border: black;
 border-width: 2px;
 border-style: solid;
 height: 180px;
 width:180px;
 cursor: pointer;
 /*background: white;*/
}

.game-row{
    height: 30px;
}

.game-frame {
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 100px;
}

.red {
    color: red;
}

.green {
    color: green;
}

.headbor {
    margin-left: 20px;
    margin-right: 20px;
}

.whole {
    background-color: white;
}

